extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  body
    div.container 
      div.pull_left.left
        div
          div.picture 
          div.username XXXX
        ul.nav
          li 
            a(href='baidu.com') 百度
          li
            a(href='baidu.com') 百度
          li
            a(href='baidu.com') 百度
      .pull_left.right  这里会有很多内容......       